@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --color-bg: #3B3B3B;
  --color-heading: #FFFFFF;
}

body {
  background-color: var(--color-bg);
}

.App {
  margin: 20px;
}

h1{
  font-family: "Ubuntu";
  font-size: 32px;
  font-weight: 700;
  line-height: 36.77px;
  text-align: left;
  color: var(--color-heading);
}

h2 {
  font-family: "Ubuntu";
  font-size: 28px;
  font-style: italic;
  font-weight: 700;
  line-height: 32.17px;
  text-align: left;
  color: var(--color-heading);
}